.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding: 20px;
}

.sidebar {
  grid-column: span 2;
  background-color: #3d90e4;
  padding: 15px 15px 10px 8px;
  
}

.sidebar .nav-link {
  color: black !important; /* Cambia el color de los enlaces a negro */
  font-size: 1.25em;
}

.sidebar .nav-link:hover {
  color: #333 !important; /* Cambia el color al pasar el mouse por encima */
}

.bottons-home{
  display: flex;  
}

.main-content {
  grid-column: span 10;
  background-color: var(--ligth-color);
  padding: 15px;
}

@media (max-width: 760px) {
  .sidebar {
    grid-column: span 12;

  }

  .main-content {
    grid-column: span 12;
  }
}


